<div class="container center">
  <div class="login-sec">
    <h2 class="text-center">Registro</h2>
    <br>
  </div>
  <form name="form">
    <div class="row text-center">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="input-field">
          <input type="text" class="form-control" name="firstName" placeholder="Nombre" />
        </div>
        <br>
      </div>
      <div class="col-md-3"></div>
    </div>
    <div class="row text-center">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="input-field">
          <input type="text" class="form-control" name="lastName" placeholder="Apellido" />
        </div>
        <br>
      </div>
      <div class="col-md-3"></div>
    </div>
    <div class="row text-center">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="input-field">
          <input type="text" class="form-control" name="username" placeholder="Nombre de usuario" />
        </div>
        <br>
      </div>
      <div class="col-md-3"></div>
    </div>
    <div class="row text-center">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="input-field">
          <input type="email" class="form-control" name="email" placeholder="Correo electrónico" />
        </div>
        <br>
      </div>
      <div class="col-md-3"></div>
    </div>
    <div class="row text-center">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="input-field">
          <input type="password" class="form-control" name="password" placeholder="Contraseña" />
        </div>
        <br>
      </div>
      <div class="col-md-3"></div>
    </div>
    <div class="row text-center">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="input-field">
          <input type="password" class="form-control" name="password" placeholder="Verifica tu contraseña" />
        </div>
        <br>
      </div>
      <div class="col-md-3"></div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-2 text-center">
        <button [disabled]="loading" class="btn btn-primary">Registrarse</button>
      </div>
      <div class="col-md-2 text-center">
        <button [routerLink]="['/Login']" class="btn btn-primary">Cancelar</button>
      </div>
      <div class="col-md-4"></div>
    </div>
  </form>
</div>