<div class="row">
  <div class="col s2 grey lighten-1">
    <p>
      <b>Perfil Columna_1</b>
      <br> .
      <br> .
      <br> .
      <br> .
      <br> .
      <br> .
    </p>
  </div>
  <div class="col s10 grey lighten-2">
    <p>
      <b>Perfil Usuario Columna_2</b>
      <br> .
      <br> .
      <br> .
      <br> .
      <br> .
      <br> .
    </p>
  </div>
  <div class="col s2 blue-grey lighten-4">
    <p>
      <b>Perfil Columna_3</b>
      <br> .
      <br> .
      <br> .
    </p>
  </div>
</div>