<nav>
    <div class="row">
        <div class="col s12 blue darken-2">
            <div class="nav-wrapper">
                <li>
                    <a routerLink="/Principal/Home" class="brand-logo">
                        <i class="material-icons">ac_unit</i>Social Agile TCS</a>
                    <!--<a data-target="mobile-demo" class="sidenav-trigger">
                        <i class="material-icons">menu</i>
                    </a>-->
                </li>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <form>
                            <div class="input-field">
                                <input id="search" type="search" required>
                                <label class="input-field" for="search">
                                    <i class="material-icons left">search</i>
                                </label>
                                <i class="material-icons">close</i>
                            </div>
                        </form>
                    </li>
                    <li>
                        <a routerLink="/Principal/Gerencia">
                            <mat-icon>sentiment_very_satisfied</mat-icon> Gerencia Ágil</a>
                    </li>
                    <li>
                        <a routerLink="/Principal/Perfil-usuario">
                            <mat-icon>person</mat-icon> Perfil_Usuario</a>
                    </li>
                    <li>
                        <a routerLink="/Principal/Notificaciones">
                            <mat-icon>notifications</mat-icon> Notificaciones</a>
                    </li>
                    <li>
                        <a [routerLink]="['/Login']">
                            <mat-icon>input</mat-icon> Cerrar Sesión</a>
                    </li>
                </ul>
                <br>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <div class="menu-sidenav-content">
                        <button type="button" mat-button (click)="drawer.toggle()">
                            <mat-icon>menu</mat-icon>
                        </button>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</nav>

<mat-drawer-container class="menu-container" autosize>
    <mat-drawer-content>
        <app-body></app-body>
    </mat-drawer-content>
    <mat-drawer #drawer class="menu-sidenav" mode="side">
        <ul>
            <li>
                <a routerLink="/Principal/Eventos">
                    <mat-icon>assistant</mat-icon> Eventos</a>
            </li>
            <br>
            <li class="divider" tabindex="-1"></li>
            <br>
            <li>
                <a routerLink="/Principal/Scrum">
                    <mat-icon>mood</mat-icon> Scrum Masters</a>
            </li>
            <br>
            <li class="divider" tabindex="-1"></li>
            <br>
            <li>
                <a routerLink="/Principal/Coach">
                    <mat-icon>face</mat-icon> Agile Coachs</a>
            </li>
            <br>
            <li class="divider" tabindex="-1"></li>
            <br>
            <li>
                <a routerLink="/Principal/Grupos">
                    <mat-icon>people</mat-icon> Grupos</a>
            </li>
            <br>
            <li class="divider" tabindex="-1"></li>
            <br>
            <li>
                <a routerLink="/Principal/Libros">
                    <mat-icon>import_contacts</mat-icon> Libros</a>
            </li>
            <br>
            <li class="divider" tabindex="-1"></li>
            <br>
            <li>
                <a routerLink="/Principal/Info">
                    <mat-icon>info</mat-icon> Información</a>
            </li>
            <br>
            <li class="divider" tabindex="-1"></li>
            <br>
            <li>
                <a routerLink="/Principal/Servicios">
                    <mat-icon>swap_vert</mat-icon> Servicios</a>
            </li>
            <br>
            <li class="divider" tabindex="-1"></li>
        </ul>
    </mat-drawer>
</mat-drawer-container>