<footer class="page-footer blue-grey lighten-2">
    <div class="row">
        <div class="col s12">
            <div class="container">
                <div class="row">
                    <h5>
                        <i class="material-icons white-text">ac_unit</i> Accesos directos</h5>
                    <ul>
                        <li>
                            <a class="grey-text text-lighten-3" href="https://www.ultimatix.net" target="_blank">Ultimatix</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="https://ievolve.ultimatix.net/iEvolve/index.html?cd=1507816128290#/Home" target="_blank">iEvolve</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="https://timesheet.ultimatix.net/timesheet/Login/bridge" target="_blank">Time Sheet</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="https://ievolve.ultimatix.net/iEvolve/index.html?cd=1532622238351#/lnk/course/GCView"
                                target="_blank">Global Calendar</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="https://webmail.tcs.com/" target="_blank">Correo TCS</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2018 Copyright - TCS Tata Consultancy Services
                    <a class="grey-text text-lighten-4 right" href="https://www.tcs.com">www.tcs.com</a>
                </div>
            </div>
        </div>
    </div>
</footer>